<div class="UserCreate-wrapper">
  <h1>新規登録</h1>

  <%= form_with(model: @user, local: true) do |form| %>
    <%= render 'layouts/error_message', object: form.object %>

    <div class="UserCreate-form">
      <%= form.label :名前, {class: "form-label"} %>
      <%= form.text_field :name, {class: "form-field User-field"} %>

      <%= form.label :メール, {class: "form-label"} %>
      <%= form.email_field :email, {class: "form-field User-field"} %>

      <%= form.label :パスワード（8文字以上）, {class: "form-label"} %>
      <%= form.password_field :password, {class: "form-field User-field"} %>

      <%= form.label :パスワード確認, {class: "form-label"} %>
      <%= form.password_field :password_confirmation, {class: "form-field User-field"} %>

      <%= form.submit "新規登録", {class: "btn form-btn User-btn"} %>

    <% end %>
  </div>
</div>
