<div class="nested-fields">

  <%= link_to_remove_association f do %>
    <i class="fas fa-2x fa-times remove-link"></i>
  <% end %>

  <%= f.label :スポット名, {class: "form-label"} %>
  <%= f.text_field :place, {class: "form-field SpotPlace-field",
                            maxlength: 20} %>
  <p class="counter SpotPlace-counter">0文字 / 20文字</p>

  <%= f.label :スポット画像, {class: "form-label SpotImage-label"} %>
  <%= f.file_field :image_spot, {class: "form-field SpotImage-field"} %>

  <%= f.label :スポットの見所, {class: "form-label"} %>
  <%= f.text_area :explaine, {class: "form-field SpotExplaine-field",
                              maxlength: 300} %>
  <p class="counter SpotExplaine-counter">0文字 / 300文字</p>

</div>
